.text-style{
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #E8ECF0;
  border-radius: 4px;
  padding: 0 11px;
  margin-bottom: 10px;
  .line-height-wrapper{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    border-right: 1px solid #E8ECF0;
    height: 100%;
    position: relative;
    svg{
      width: 16px;
      height: 16px;
    }
    &::after{
      content: "%";
      position: absolute;
      right: 11px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #AAB2BB;
    }
  }
  .letter-spacing-wrapper{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    svg{
      width: 16px;
      height: 16px;
      margin-left: 9px;
    }
    &::after{
      content: "px";
      position: absolute;
      right: 11px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #AAB2BB;
    }
  }
  input{
    width: 100%;
    height: 100%;
    outline: none !important;
    border: none;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    padding-right: 25px;
    color: #333333;
    position: relative;
    //&::-webkit-inner-spin-button,
    //&::-webkit-outer-spin-button{
    //  -webkit-appearance: none;
    //  margin: 0;
    //}
  }
  &:focus, &:active, &:focus-within{
    border: 2px solid #13A4EC;
  }
}